
header{
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


.layer1a{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 5px;
}

.Logo{
    font-size: 24px;
    color: #f9faf8
}

ul{
    margin: 0px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    padding: 8px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.layer1b{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}


h1{
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 0px;
    font-weight: 900;
}

.subtext{
    font-size: 14px;
    color: #f9faf8;
    margin-bottom: 5px;
    margin-top: 2px;
    font-weight: 400;
    opacity: 0.85; 
}

img{
    padding-left: 20px;
}

.topbutton{
    border-radius: 6px;
    background-color: #3882F6;
    color: #f9faf8;
    outline: none;
    border: 1px solid #e5e7eb
}

.layer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.layer2a{
    display: flex;
    justify-content: center;
}
.layer2b{
    display: flex;
}

h2{
    font-weight: 900;
    font-size: 36px;
}
.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.info-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2.5px solid #3882F6;
    padding:0px;
}

.img-text{
    text-align: center;
    font-size: 14px;
    color: #1F2937;
    margin-bottom: 5px;
    margin-top: 2px;
    font-weight: 400;
    opacity: 0.85; 
}

.layer3{
    background-color: #e5e7eb;
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;    
    opacity: 0.9; 
    color: #1f2937;
    margin: 0px;
}
.author{
    align-self: flex-end;
    margin: 0px;
    font-weight: 800px;
}

.layer4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

.layer4-content{
    display:flex;
    padding: 10px 50px;
    border-radius: 5px;
    background-color:#3882F6;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.title{
    color: #f9faf8;
    font-weight: bold;
    margin: 0px;
}

.sign-up-prompt{
   font-size: 10px;
   margin: 3px; 
   color:#e5e7eb
}

.sign-up-button{
    border-radius: 6px;
    background-color: #3882F6;
    color: #f9faf8;
    outline: none;
    border: 1px solid #e5e7eb
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    background-color: #1f2937;
}